<template>
  <span>
    <button
      v-if="variant === 'circle'"
      class="rounded-full bg-blue-500 hover:bg-blue-700 absolute b-0 w-20 h-20 flex items-center justify-center bottom-0 right-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 47.971 47.971"
        class="h-10 w-10"
      >
        <path
          d="M28.228 23.986L47.092 5.122a2.998 2.998 0 000-4.242 2.998 2.998 0 00-4.242 0L23.986 19.744 5.121.88a2.998 2.998 0 00-4.242 0 2.998 2.998 0 000 4.242l18.865 18.864L.879 42.85a2.998 2.998 0 104.242 4.241l18.865-18.864L42.85 47.091c.586.586 1.354.879 2.121.879s1.535-.293 2.121-.879a2.998 2.998 0 000-4.242L28.228 23.986z"
        />
      </svg>
    </button>
    <button
      v-if="variant === 'circle-sm'"
      class="btn-small rounded-full bg-blue-500 hover:bg-blue-700 absolute b-0 w-20 h-20 flex items-center justify-center bottom-0 right-0"
    >
      <svg width="5" height="8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3.145 4L.322 1.177a.69.69 0 01.976-.975l3.31 3.31a.69.69 0 010 .976l-3.31 3.31a.69.69 0 01-.976-.975L3.145 4z"
          fill="#fff"
        />
      </svg>
    </button>
    <button
      v-else-if="variant === 'pill-disabled'"
      class="btn-pill-disabled  hover:btn-pill-disabled cursor-not-allowed text-white font-bold py-2 px-4 rounded-full"
      disabled
    >
      {{ text }}

    </button>
    <button
      v-else-if="variant === 'pill'"
      class="btn-pill bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >
     {{ text }}
    </button>
    <button
      v-else-if="variant === 'pill-outline'"
      class="btn-pill-outline bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full hover:shadow-md"
    >
      {{ text }}
    </button>
    <button
      v-else-if="variant === 'pill-fill'"
      class="btn-pill-fill bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full hover:shadow-md"
    >
      {{ text }}
    </button>
  </span>
</template>

<script>
export default {
  props: ['type', 'text', 'variant']
}
</script>

<style>
button {
  background: #6979f8;
}
svg path {
  fill: #e5e7fa;
}
.btn-small {
  width: 24px;
  height: 24px;
  background: rgba(63, 51, 86, 0.35);
  position: absolute;
  top: 8px;
  right: 8px;
}
.btn-pill-disabled {
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #8c8598;
}
.btn-pill-outline {
  border: 2px solid #ff9115;
  background: #fff;
  color: initial;
}
.btn-pill-outline:hover {
  border: 2px solid #ff9115;
  background: #fefefe;
}
.btn-pill-fill {
  background: #ff9115;
}
.btn-pill-fill:hover {
  background: #f58e1a;
}
</style>
