<template>
  <article
    class="card flex  w-full items-center justify-between lg:flex border border-gray-400 bg-white rounded m-2 z-10 relative shadow-md hover:shadow-lg p-2"
  >
    <div class="icon flex-initial self-center">
      <img :src="icon" :alt="title" />
    </div>
    <div class="article-content flex-1">
      <h3 class="heading">{{ title }}</h3>
      <p class="text">{{ text }}</p>
      <ProgressBar :progress="progress" :max="max" :alt="alt" />
    </div>
    <div class="action-container flex-1">
      <Button :variant="type" v-if="action === 'counter'">
        <CountDown end="August 17, 2022" />
      </Button>
      <Button :text="action" :variant="type" v-else />
    </div>
  </article>
</template>

<script>
import Button from '~/components/Button.vue'
import ProgressBar from '~/components/ProgressBar.vue'

import CountDown from '~/components/Countdown.vue'

export default {
  components: {
    Button,
    ProgressBar,
    CountDown
  },
  props: ['icon', 'title', 'text', 'action', 'type', 'progress', 'max', 'alt']
}
</script>

<style>
.icon {
  width: 60px;
}
.card {
  height: 96px;
  animation: 300ms scaleApear ease-in-out;
}
.card-image {
  height: 60px;
  width: 60px;
}
.progress-bar {
  background-color: #ffe8da;
  border-radius: 4px;
  height: 8px;
  width: 96px;
}
.progress-bar::-moz-progress-bar {
  background: #ffa26b;
  border-radius: 4px;
}
@keyframes scaleApear {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
</style>
