<template>
  <svg class="NuxtLogo "width="51" height="36" viewBox="0 0 51 36" fill="none" xmlns="http://www.w3.org/2000/svg" >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M17.7229 2.84832C13.6488 -1.01406 7.21434 -0.94834 3.22053 3.04547L3.04547 3.22053C-0.94834 7.21434 -1.01406 13.6488 2.84832 17.7229L2.84568 17.7255L3.02606 17.9059L3.04547 17.9254L5.71083 20.5907L5.72997 20.6098L18.0747 32.9545C22.1353 37.0152 28.7189 37.0152 32.7795 32.9545L36.9999 28.7341L40.307 25.4271L47.3341 18.4C51.5314 14.2026 51.6422 7.50823 47.5816 3.4476L47.4065 3.27254C43.3459 -0.788085 36.6515 -0.677257 32.4542 3.52009L25.4271 10.5472L17.9254 3.04547L17.7256 2.84563L17.7229 2.84832ZM28.58 13.7001L28.5781 13.6982L35.6052 6.67112C38.0037 4.27264 41.8291 4.20931 44.1494 6.52967L44.3245 6.70473C46.6448 9.02509 46.5815 12.8505 44.183 15.2489L38.3129 21.119L38.3146 21.1207L33.3255 26.1099L33.3238 26.1082L29.6285 29.8035C27.3081 32.1239 23.5461 32.1239 21.2257 29.8035L15.3139 23.8917C17.449 23.645 19.4767 22.776 21.0389 21.2139L25.2593 16.9935L25.273 17.0071L28.58 13.7001ZM17.5505 9.32278L17.5451 9.32819L14.394 6.17715L14.3952 6.17599L14.3683 6.15142L14.3375 6.1206L14.3359 6.12219C12.0145 4.04165 8.60584 3.96223 6.37157 6.19651L6.19651 6.37156C3.96223 8.60584 3.87934 12.1768 5.94783 14.5103L5.94574 14.5124L5.9834 14.55L6.00136 14.5698L6.00228 14.5689L9.1843 17.7509L9.1902 17.745C11.5761 19.8106 15.6728 20.2779 17.8878 18.0629L22.0892 13.8615L17.5505 9.32278Z"
      fill="white"
    />
  </svg>
</template>
<style>
.NuxtLogo {
  animation: 1s appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
