<template>
  <div class="flex progress" v-if="progress">
    <progress
      class="progress-bar"
      :value="progress"
      :max="max"
      v-if="!alt"
    ></progress>
    <progress class="progress-bar-alt" :value="progress" v-if="alt"></progress>
  </div>
</template>
<script>
export default {
  props: ['progress', 'max', 'alt']
}
</script>
<style>
.progress-bar,
.progress-bar-alt {
  background-color: #ffe8da;
  border-radius: 4px;
  height: 8px;
  width: 96px;
}
.progress-bar::-moz-progress-bar {
  background: #ffa26b;
  border-radius: 4px;
}
.progress-bar-alt {
  width: 128px;
}
.progress-bar-alt::-moz-progress-bar {
  background: #6979f8;
  border-radius: 4px;
}
</style>
