<template>
  <div id="widget" class="widget p-4 rounded-xl relative shadow-xl">
    <WidgetHeader />
    <div class="spacer"></div>
    <Card
      :icon="crown"
      title="Lovy.io Rewards"
      text="700 Lovy.io points"
      action="Test"
      type="circle-sm"
      progress="700"
      alt="true"
    />
    <Card
      :icon="clock"
      title="Happy hour"
      text="Double the point on each purchase you make."
      type="pill-outline"
      action="counter"
    />
    <Card
      :icon="coupon"
      title="5% off coupon"
      text="500 points"
      action="Get 5% OFF"
      progress="490"
      type="pill-fill"
      max="500"
    />
    <Card
      :icon="shipping"
      title="Free shipping"
      text="1,500 points"
      action="redeem"
      progress="510"
      max="1500"
      type="pill-disabled"
    />
  </div>
</template>
<style>
.spacer {
  height: 110px;
}
.widget {
  background: #fff;
  overflow: hidden;
  height: 555px;
  animation: 1s bounceInUp;

}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

</style>
<script>
import Card from '~/components/Card.vue'
import WidgetHeader from '~/components/WidgetHeader.vue'

import crown from '~/assets/icons/crown.png'
import clock from '~/assets/icons/clock.svg'
import coupon from '~/assets/icons/coupon.svg'
import shipping from '~/assets/icons/shipping.svg'

export default {
  components: {
    Card,
    WidgetHeader
  },
  data: function () {
    return {
      crown: crown,
      clock: clock,
      coupon: coupon,
      shipping: shipping
    }
  }
}
</script>
