<template>
  <div
    class="absolute widget-header z-0 inset-0 w-full p-6 bg-center bg-cover bg-scroll"
  >
    <logo />
    <span class="suptitle">Welcome to</span>
    <h1 class="text-5xl text-white widget-title">Lovy.io</h1>
  </div>
</template>
<script>
import Logo from '~/components/Logo.vue'
// import HeaderBackground from "~/assets/header.png"

export default {
  components: {
    Logo
  }
}
</script>
<style>
.widget-header {
  height: 211px;
  background-image: url("/header.png");
}
.widget-title {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  animation: 450ms appear;
}
.suptitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 0.04em;
  width: 100%;
  display: inline-block;
  color: #fff;
  animation: 800ms appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
