<template>
  <div class="widget-container">
    <Button type="close" />
    <widget />
    <Button variant="circle" class="h-16 w-16"/>
  </div>
</template>
<style>
.widget-container {
  position: relative;
  width: 360px;
  height: 636px;
  background: #cdddf4;
  overflow: hidden;
}
</style>
<script lang="ts">
import Widget from '~/components/Widget.vue'
import Button from '~/components/Button.vue'

export default {
  components: {
    Button,
    Widget
  }
}
</script>
