<template>
  <div class="container">
    <widget-container />
  </div>
</template>

<script>
import WidgetContainer from '~/components/WidgetContainer.vue'

export default {
  components: {
    WidgetContainer
  }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {

}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
